body {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23180d1c' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23261431' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23351947' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23451e5e' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23552277' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav {
  width: 100%;
  background-color: #3a1c38 !important;
}
.desktop-talk{
  display: none!important;
}
.navbar-brand{
    color:#ece0ec!important;
  }
nav a {
  color: black !important;
}
#talk {
  border-radius: 10px;
  width: 150px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  padding: 7px;
  transition: all ease-out 0.3s;
  vertical-align: middle;
}
#talk:hover {
  color: #3a1c38;
  background-color: white;
}
.message-container {
  width: 90%;
  margin-left: 5%;
  height: 80vh;
  margin-top: 6vh;
  position: fixed;
  background-color: #3a1c38;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #38183781;
  display: block;
}
.chat {
  float: left;
  width: 100% !important;
  text-align: left;
}
.chat div {
  max-width: 50%;
}
.chat-you div {
  float: right !important;
  background-color: #7e407b;
  border-radius: 50px 50px 0px 50px;
  color: white;
  padding: 10px 30px;
}

.chat-jessie div {
  float: left !important;
  background-color: rgb(199, 199, 199);
  border-radius: 50px 50px 50px 0px;
  color: black;
  padding: 10px 30px;
}
.no-message::after {
  content: "Please press start button above for start conversation";
  font-size: 30px;
  width: 100%;
  color: rgba(128, 128, 128, 0.726);
  height: 100%;
  vertical-align: middle;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.message-body {
  overflow-y: auto;
  height: 90%;
}
.message-form * {
  outline: none !important;
}
.message-form {
  width: 100%;
  float: left;
  padding: 0 50px;
  padding-top: 10px;
  height: 10%;
}
.message-form input {
  width: 90%;
  float: left;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #3a1c38;
  font-size: 18px;
  background-color: #6b3567;
  color:white;
  transition: 0.3s all ease-out;
}
.message-form input::placeholder{
    color:rgb(180, 180, 180)
}
.message-form button {
  float: right;
  padding: 10px;
  font-size: 18px;
  width: 50px;
  background-color: #6b3467;
  color: white;
  border-style: solid;
  border-color: white;
  border-radius: 50%;
  transition: 0.3s all ease-out;
}
.message-form button:hover {
  background-color: white;
  color: #3a1c38;
}
.message-form input:focus {
  border-color: black;
  box-shadow: 0px 0px 10px black;
}
